.settings-card-content {
    min-height: 70px;
    max-height: fit-content;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 55%;
    // width: 60%;
    max-width:  80%;
    
    padding: 15px 18px;
    margin-bottom: 15px;
    margin-left: 5%;
    .ant-typography {
        margin: 0;
    }
}

