.quotationsDiv{
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    // border-style: dashed;
    // border-color: green;
    // border-style: dashed;
    height: 100% ;
}

// style={{ borderStyle: "dashed", height: "100%" }}